.toolbar img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
    width: 80%;
    border-radius: 100%;
}

div.contact{
    display: block;
    font-family: Trebuchet MS;
    text-align: center;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

#banner {
    font-family: Segoe UI;
    font-size: larger;
    text-align: center;
}

div.contact-info {
    font-family: Segoe UI;
    font-size: large;
    text-align: left;
    margin-left: 3%;
    
}

.button-container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    width: 100%;
    overflow-y: auto;
}

.button-container > a {
    display: flex;
    width: 20%;
    float: left;
    margin-left: 10%;
    margin-bottom: 5%;
}

div.menu-container {
    margin-bottom: 15%;
}

.button-container img {
    width: 100%;
    height: 100%;
    border-radius: 30%;
    box-shadow: 3px 3px #fae1dd;
}

@keyframes GFG {
    from {
        font-size: 12px;
    }

    to {
        font-size: 30px;
        color: #fae1dd;
    }
}

.contact, .menu-container {
    padding-top: 15px; /* Add padding for spacing */
}

.contact span {
    font-family: "Lucida Handwriting", Cursive;
    font-size: large;
}

.wrapper
{
	padding-bottom: 15px;
}

.divider
{
	position: relative;
	margin-top: 15px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: #ffdbf7;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

  