<!-- Top image -->
<div class="toolbar" role="banner">
    <img
    alt="logo"
    src="assets/sh-664-principal.jpeg"
    />
</div>
<div class="wrapper">
  <div class="divider div-transparent div-arrow-down"></div>
</div>

<!-- Contact -->
<div class="contact">
  <span>Síguenos en nuestras redes para que veas nuestras ofertas y promociones</span>
</div>

<!-- Buttons -->
<div class="menu-container">
  <div class="button-container">
     <a href="https://www.facebook.com/sh664s" class="button"><img src="assets/facebook-logo.jfif"></a>
     <a href="https://www.instagram.com/sh644s/" class="button"><img src="assets/insta-logo.jfif"></a>
     <a href="https://api.whatsapp.com/send/?phone=526645116894&text&type=phone_number&app_absent=0" class="button"><img src="assets/whats-logo.png"></a>
     <a href="https://goo.gl/maps/zEbKUWeRBZzcBqdw6" class="button"><img src="assets/maps-logo.png"></a>
  </div>
</div>
