<!-- Top image -->
<div class="toolbar" role="banner">
    <img
    alt="logo"
    src="assets/moon-laa-principal.jpg"
    />
</div>

<!-- Contact -->
<div class="contact">
  <span><b>Llamanos para agendar tu cita!</b><br></span>
  <fa-icon [icon]="faPhone"></fa-icon>
  <a href="tel:663-203-1329">663-203-1329</a><br>
  <span id="banner">Spa dedicado al cuidado de la piel.</span>
  <div class="contact-info">
    <ul type="A">
      <li>Cosmetologia</li>
      <li>Medicina Estética</li>
      <li>Masajes</li>
    </ul>
    
  </div>
  
  <span>Siguenos en nuestras redes para que veas nuestras ofertas y promociones</span>
</div>

<!-- Buttons -->
<div class="menu-container">
  <div class="button-container">
     <a href="https://www.facebook.com/MoonLaaSPA" class="button"><img src="assets/facebook-logo.jfif"></a>
     <a href="https://www.instagram.com/moonlaa_spa/" class="button"><img src="assets/insta-logo.jfif"></a>
     <a href="https://api.whatsapp.com/send?phone=526634320630&app=facebook&entry_point=page_cta&fbclid=IwAR1VoTPyR5j5GS13Kn_2-XAvNGdSq8I9l8BPDzUg1N8-sCFVW7W3guH0C9w" class="button"><img src="assets/whats-logo.png"></a>
     <a href="https://goo.gl/maps/PijqjXNaFtNGd5uC9" class="button"><img src="assets/maps-logo.png"></a>
  </div>
</div>
